html,
body {
  margin: 0;
  min-height: 100%;
  font-family: system-ui, sans-serif;
}

.app > section {
  padding: 20px;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

td {
  border-top: 1px solid black;
}

th,
td {
  padding: 5px 10px;
}
