html,
body {
  margin: 0;
  min-height: 100%;
  font-family: system-ui, sans-serif;
}

.app > section {
  padding: 20px;
  display: flex;
}

table {
  border-collapse: collapse;
  flex: 1;
  width: 100%;
}

th {
  text-align: left;
}

th,
td {
  padding: 5px 10px;
}

.pos {
  color: green;
}

.neg {
  color: red;
}
