export RPC_URL=https://devnet.solana.com

export DEX_PROGRAM_ID=DESVgJVGajEgKGXhb6XmqDHGz3VjdgP7rEVESBgxmroY
export PROGRAM_ID=7UkUQY1gqYyumhyoDy73D5JoThqGY9SJw21k6QveesfP

export PG_DATABASE=psyoptionsdb
export PG_USERNAME=user
export PG_PASSWORD=pass
