export RPC_URL=https://api.devnet.solana.com

export DEX_PROGRAM_ID=DESVgJVGajEgKGXhb6XmqDHGz3VjdgP7rEVESBgxmroY
export PROGRAM_ID=GDvqQy3FkDB2wyNwgZGp5YkmRMUmWbhNNWDMYKbLSZ5N

export PG_DATABASE=psyoptionsdb
export PG_USERNAME=user
export PG_PASSWORD=pass

export GRAPHQL_URL=http://hasura:8080/v1/graphql

export EXT_HOST=localhost
