export RPC_URL=https://api.devnet.solana.com

export PG_DATABASE=psyoptionsdb
export PG_USERNAME=user
export PG_PASSWORD=pass

export GRAPHQL_URL=http://hasura:8080/v1/graphql
export HASURA_GRAPHQL_ADMIN_SECRET=secret

export EXT_HOST=localhost
